<mat-card class="card mat-elevation-z7">
  <img class="card-foto" mat-card-image
       src="https://material.angular.io/assets/img/examples/shiba2.jpg"
       alt="Photo of a Shiba Inu">

  <mat-card-content>
    <mat-card-subtitle class="card-descricao">
      Dog Breed
    </mat-card-subtitle>

    <div class="card-centro">
      <mat-card-title class="card-rs-valor">R$</mat-card-title>
      <mat-card-title class="card-valor">99,99</mat-card-title>
    </div>
  </mat-card-content>

  <mat-card-actions class="card-centro card-botao">
    <button mat-raised-button color="primary">
      Ver Produto
    </button>
  </mat-card-actions>
</mat-card>
