<mat-card class="mat-elevation-z7 margem">
  <mat-card-content>
    <!-- <h2 class="example-h2">Nossos Produtos</h2> -->
    <mat-tab-group class="tab-group">
      <mat-tab label="Hidráulica">
        <div class="tab-content">
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
        </div>
      </mat-tab>
      <mat-tab label="Acabamento">
        <div class="tab-content">
          <app-card></app-card>
        </div>
      </mat-tab>
      <mat-tab label="Construção">
        <div class="tab-content cards">
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
        </div>
      </mat-tab>
      <mat-tab label="Piso">
        <div class="tab-content">
          <app-card></app-card>
        </div>
      </mat-tab>
      <mat-tab label="Revestimento">
        <div class="tab-content">
          <app-card></app-card>
          <app-card></app-card>
          <app-card></app-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
Hidráulica|Acabamento|Construção*|Piso|Revestimento
